<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ktehun.mapper.BoardMapper">
  	<insert id="insertBoard">
  		insert into tbl_board(title, content, writer) values(#{title}, #{content}, #{writer})
  	</insert>
  	
  	<select id="readBoard" resultType="com.ktehun.domain.BoardVO">
  		select * from tbl_board where no = #{no}
  	</select>
  	
  	<update id="updateBoard">
  		update tbl_board set title=#{title}, content=#{content} where no=#{no}
  	</update>
  	
  	<update id="deleteBoard">
  		update tbl_board set isdelete='Y' where no=#{no}
  	</update>
  	
  	<select id="listBoard" resultType="com.ktehun.domain.BoardVO">
  		select * from tbl_board order by no desc
  	</select>
  	<select id="listBoardPaging" resultType="com.ktehun.domain.BoardVO">
  		select * from test.tbl_board order by no desc limit #{page},10
  	</select>
  	<!-- 페이징 제약조건을 이용한 페이징 -->
  	<select id="listBoardCriteria" resultType="com.ktehun.domain.BoardVO">
  		select * from test.tbl_board order by no desc limit #{pageStart},#{perPageNum}
  	</select>
  	<select id="getTotalBoardCnt" resultType="int">
  		select count(*) from test.tbl_board
  	</select>
  </mapper>